.featured {
  padding: 20px 0;
  margin: 0px;
  background-color: black;
  width: 100%;
}

.featured h2 {
  color: #4c7dd4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1em;
  padding: 0 1em;
}

.featured .posters {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.featured .poster {
  width: 30%;
  height: auto;
  border-radius: 5px;
}

.featured .poster:hover {
  transform: scale(1.05);
  transition: transform 0.25s;
}